{% if blm_it.links_1.size > 0 or blm_it.links_2.size > 0 or blm_it.links_3.size > 0 or blm_it.links_4.size > 0   %}
	<ul class="level_2 is-megamenu py-0" id="menu_{{ block.id }}" style="display: none; {% if blm_it.image_bg_control %} background-image: url( {{ blm_it.bg_image | img_url: '2048x500', crop: section.settings.img_alignment }} );{% endif %}">
		<li class="link js-back_link pl-1 d-xl-none">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.8283 12L15.7783 7.05L14.3643 5.636L8.00032 12L14.3643 18.364L15.7783 16.95L10.8283 12Z" fill="#797B7E"/></svg>
			<span>{{ 'layout.header.back' | t }}</span>
		</li>
		<li class="level_1__item d-xl-none">
			{% if blm_it.link.size > 0 %}
			<a class="level_1__link" href="{{ blm_it.link }}">
				{% else %}
				<span class="level_1__link" >
																{% endif %}
					<span class="link_text">{{ blm_it.title }}</span>
					{% if blm_it.link.size > 0 %}
			</a>
		{% else %}
			</span>
			{% endif %}
		</li>
		<li class="item_{{ block.type }}">
			<div class="row">
				{% for i in (1..4) %}
					{% capture list %}links_{{ i }}{% endcapture %}
					{% capture item_image %}image_{{ i }}{% endcapture %}
					{%- assign list = blm_it[list] -%}
					{%- assign item_image = blm_it[item_image] -%}
					
					<div class="megamenu_col__item col-12 col-md-6 col-xl-3 mt-1 mb-2 my-xl-4">
						<div class="megamenu_linklist">
							<h6  class="{% if blm_it.show_title == blank %} d-xl-none mb-0{% endif %} d-flex mb-2">{{ linklists[list].title }} <i class="level_2__trigger megamenu_trigger" data-submenu="menu_{{ block.id }}-{{ i }}"></i></h6>
							<ul class="level_3 link-list" id="menu_{{ block.id }}-{{ i }}">
								{% for link in linklists[list].links %}
									<li class="level_3__item">
										{% if link.title contains '[new]' %}
											{%- assign link_text = link.title | replace: '[new]', '' -%}
											{%- assign link_badge = 'new' -%}
											{% elsif link.title contains '[hot]' %}
											{%- assign link_text = link.title | replace: '[hot]', '' -%}
											{%- assign link_badge = 'hot' -%}
											{% elsif link.title contains '[featured]' %}
											{%- assign link_text = link.title | replace: '[featured]', '' -%}
											{%- assign link_badge = 'featured' -%}
											{% elsif link.title contains '[comming soon]' %}
											{%- assign link_text = link.title | replace: '[comming soon]', '' -%}
											{%- assign link_badge = 'comming_soon' -%}
											{% elsif link.title contains '[heading]' %}
											{%- assign link_text = link.title | replace: '[heading]', '' -%}
											{%- assign link_badge = false -%}
											{%- assign heading_text = 'custom_heading' -%}
										{% else %}
											{%- assign link_text = link.title -%}
											{%- assign link_badge = false -%}
										{% endif %}
										
										{% if link_text contains '[ld]' %}
											{%- assign link_text = link_text | replace: '[ld]', '' -%}
										{% endif %}
										
										<a class="level_3__link{% if link.title contains '[heading]' %} {{ heading_text }}{% endif %}" href="{{ link.url }}">
																							<span>
																								<span class="pr-1">{{ link_text }}</span>
																								{% if link_badge %}
																									<span class=" badge badge_{{ link_badge }}">
																											{{ link_badge }}
																										</span>
																								{% endif %}
																								{% if link.title contains '[ld]' %}
																									{% assign link_image = link_text | handle | append: '.jpg' %}
																									<img class="lazyload {{ link_image_check }}" data-src="{{ link_image | file_img_url: "200x700" }}">
																								{% endif %}
																							</span>
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</li>
	</ul>
{% endif %}