{% assign icon_airplane = '<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.2751 51.7115L39.2078 53.5V48.1346L35.6347 44.5577V35.6154L53.5 39.1923V33.8269L35.6347 24.8846L35.6096 12.3654C35.6096 10.9424 35.0449 9.57769 34.0398 8.57148C33.0347 7.56528 31.6714 7 30.25 7C28.8285 7 27.4653 7.56528 26.4602 8.57148C25.4551 9.57769 24.8904 10.9424 24.8904 12.3654L24.8653 24.8846L7 33.8269V39.1923L24.8653 35.6154V44.5577L21.3425 48.1346V53.5L30.2751 51.7115Z" stroke="#121212" stroke-width="2.7" stroke-linecap="round" stroke-linejoin="round"/>
</svg>' %}
{% assign icon_creditcard = '<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M37.8735 39.375C37.8735 38.5466 38.5451 37.875 39.3735 37.875H46.8735C47.702 37.875 48.3735 38.5466 48.3735 39.375C48.3735 40.2034 47.702 40.875 46.8735 40.875H39.3735C38.5451 40.875 37.8735 40.2034 37.8735 39.375Z" fill="#121212"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M26.6235 39.375C26.6235 38.5466 27.2951 37.875 28.1235 37.875H31.8735C32.702 37.875 33.3735 38.5466 33.3735 39.375C33.3735 40.2034 32.702 40.875 31.8735 40.875H28.1235C27.2951 40.875 26.6235 40.2034 26.6235 39.375Z" fill="#121212"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.50018 14.625C7.29308 14.625 7.12518 14.7929 7.12518 15V21.1997H52.8752V15C52.8752 14.7929 52.7073 14.625 52.5002 14.625H7.50018ZM52.8752 24.1997H7.12518V45C7.12518 45.2071 7.29308 45.375 7.50018 45.375H52.5002C52.7073 45.375 52.8752 45.2071 52.8752 45V24.1997ZM4.12518 22.7706V45C4.12518 46.864 5.63622 48.375 7.50018 48.375H52.5002C54.3641 48.375 55.8752 46.864 55.8752 45V15C55.8752 13.136 54.3641 11.625 52.5002 11.625H7.50018C5.63622 11.625 4.12518 13.136 4.12518 15V22.6287C4.12409 22.6522 4.12354 22.6759 4.12354 22.6997C4.12354 22.7234 4.12409 22.7471 4.12518 22.7706Z" fill="#121212"/>
</svg>' %}
{% assign icon_wallet = '<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M41.5365 19.5415H40.4897V13.2519C40.4897 10.6801 38.3962 8.59561 35.8335 8.59561H34.8679L34.8769 6.25844C34.8769 4.52588 33.4692 3.11816 31.7367 3.11816H3.81706C1.73257 3.11816 0.0270714 4.79659 0 6.88109C0 6.89913 0 6.91718 0 6.93523V37.7425C0 39.475 1.40771 40.8827 3.14028 40.8827H35.8425C38.4143 40.8827 40.4988 38.7892 40.4988 36.2265V29.9278H41.5455C42.8991 29.9278 44 28.8269 44 27.4734V21.9959C43.991 20.6424 42.8901 19.5415 41.5365 19.5415ZM3.81706 5.28387H31.7367C32.2691 5.28387 32.7112 5.71702 32.7112 6.24942L32.7022 8.59561H3.81706C2.90566 8.59561 2.16571 7.85565 2.16571 6.94425C2.16571 6.03285 2.90566 5.28387 3.81706 5.28387ZM38.324 36.2174C38.324 37.589 37.2051 38.708 35.8335 38.708H3.13126C2.59885 38.708 2.15669 38.2749 2.15669 37.7334V10.3823C2.66202 10.626 3.22149 10.7613 3.81706 10.7613H35.8335C37.2051 10.7613 38.324 11.8803 38.324 13.2519V19.5415H30.9336C29.58 19.5415 28.4791 20.6424 28.4791 21.9959V27.4734C28.4791 28.8269 29.58 29.9278 30.9336 29.9278H38.324V36.2174V36.2174ZM41.8253 27.4734C41.8253 27.6358 41.6989 27.7621 41.5365 27.7621H30.9426C30.7801 27.7621 30.6538 27.6358 30.6538 27.4734V21.9959C30.6538 21.8425 30.7801 21.7072 30.9426 21.7072H41.5365C41.6899 21.7072 41.8253 21.8335 41.8253 21.9959V27.4734Z" fill="#7C7E83"/>
</svg>' %}
{% assign icon_clockwise = '<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M25.6832 8.30014C29.975 7.44644 34.4236 7.88459 38.4664 9.55918C42.5092 11.2338 45.9647 14.0696 48.3958 17.708C50.8269 21.3465 52.1246 25.6241 52.1246 30C52.1246 34.3759 50.8269 38.6536 48.3958 42.292C45.9647 45.9304 42.5092 48.7663 38.4664 50.4408C34.4236 52.1154 29.975 52.5536 25.6832 51.6999C21.3914 50.8462 17.4491 48.739 14.3548 45.6448C13.769 45.059 13.769 44.1092 14.3548 43.5234C14.9406 42.9376 15.8904 42.9376 16.4761 43.5234C19.1508 46.1981 22.5586 48.0196 26.2685 48.7575C29.9783 49.4955 33.8237 49.1167 37.3184 47.6692C40.813 46.2217 43.7999 43.7704 45.9014 40.6253C48.0029 37.4802 49.1246 33.7826 49.1246 30C49.1246 26.2174 48.0029 22.5198 45.9014 19.3747C43.7999 16.2296 40.813 13.7783 37.3184 12.3308C33.8237 10.8833 29.9783 10.5045 26.2685 11.2425C22.5586 11.9804 19.1508 13.8019 16.4761 16.4766L15.4155 15.4159L16.4761 16.4766L11.0818 21.8709H18.7105C19.5389 21.8709 20.2105 22.5425 20.2105 23.3709C20.2105 24.1994 19.5389 24.8709 18.7105 24.8709H7.46045C6.63202 24.8709 5.96045 24.1994 5.96045 23.3709V12.1209C5.96045 11.2925 6.63202 10.6209 7.46045 10.6209C8.28888 10.6209 8.96045 11.2925 8.96045 12.1209V19.7496L14.3548 14.3553C17.4491 11.261 21.3914 9.15383 25.6832 8.30014Z" fill="#121212"/>
</svg>' %}
{% assign icon_shopping_bag = '<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43.9909 35.8894L41.8261 11.5442C41.781 11.03 41.348 10.6422 40.8339 10.6422H36.3419C36.3058 6.58312 32.9954 3.2998 28.9364 3.2998C24.8773 3.2998 21.567 6.58312 21.5309 10.6422H17.0389C16.5247 10.6422 16.0918 11.039 16.0467 11.5442L13.8818 35.8894C13.8818 35.9165 13.8818 35.9435 13.8818 35.9796C13.8818 38.7217 16.3984 40.9587 19.5014 40.9587H38.3804C41.4743 40.9587 43.9999 38.7307 43.9999 35.9796C43.9999 35.9435 43.9999 35.9165 43.9909 35.8894ZM28.9454 5.28422C31.913 5.28422 34.3304 7.68357 34.3665 10.6422H23.5153C23.5514 7.68357 25.9688 5.28422 28.9454 5.28422ZM38.3804 38.9652H19.5014C17.5169 38.9652 15.8933 37.6483 15.8663 36.0157L17.9409 12.6266H21.5219V15.8377C21.5219 16.388 21.9638 16.8299 22.5141 16.8299C23.0643 16.8299 23.5063 16.388 23.5063 15.8377V12.6266H34.3574V15.8377C34.3574 16.388 34.7994 16.8299 35.3496 16.8299C35.8999 16.8299 36.3419 16.388 36.3419 15.8377V12.6266H39.9228L41.9974 36.0157C41.9884 37.6483 40.3648 38.9652 38.3804 38.9652Z" fill="#7C7E83"/>
<path d="M11.5727 19.1934H4.77151C4.22128 19.1934 3.7793 19.6353 3.7793 20.1856C3.7793 20.7358 4.22128 21.1778 4.77151 21.1778H11.5727C12.1229 21.1778 12.5649 20.7358 12.5649 20.1856C12.5649 19.6353 12.1229 19.1934 11.5727 19.1934Z" fill="#7C7E83"/>
<path d="M11.5728 24.0283H0.99221C0.441984 24.0283 0 24.4703 0 25.0205C0 25.5708 0.441984 26.0127 0.99221 26.0127H11.5728C12.123 26.0127 12.565 25.5708 12.565 25.0205C12.565 24.4703 12.123 24.0283 11.5728 24.0283Z" fill="#7C7E83"/>
<path d="M11.5727 28.8623H4.77151C4.22128 28.8623 3.7793 29.3043 3.7793 29.8545C3.7793 30.4047 4.22128 30.8467 4.77151 30.8467H11.5727C12.1229 30.8467 12.5649 30.4047 12.5649 29.8545C12.5649 29.3043 12.1229 28.8623 11.5727 28.8623Z" fill="#7C7E83"/>
</svg>' %}
{% assign icon_package = '<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M42.8647 11.3861L34.2285 0.433219C34.0119 0.160103 33.6917 0 33.3433 0H10.6652C10.3167 0 9.99653 0.160103 9.77992 0.433219L1.14379 11.3861C0.983686 11.5839 0.898926 11.8288 0.898926 12.083V42.8699C0.898926 43.4914 1.40749 44 2.02906 44H41.97C42.5916 44 43.1001 43.4914 43.1001 42.8699V12.083C43.1095 11.8288 43.0248 11.5839 42.8647 11.3861ZM39.7945 11.1413H23.1344V2.26027H32.797L39.7945 11.1413ZM11.2114 2.26027H20.8741V11.1413H4.21399L11.2114 2.26027ZM3.1592 41.7397V13.4015H40.8398V41.7397H3.1592Z" fill="#7C7E83"/>
<path d="M27.3624 22.4988L19.7905 30.0707L16.6449 26.9251C16.2023 26.4825 15.4865 26.4825 15.0439 26.9251C14.6013 27.3678 14.6013 28.0835 15.0439 28.5262L18.99 32.4722C19.2066 32.6888 19.4985 32.8019 19.7905 32.8019C20.0824 32.8019 20.365 32.6888 20.591 32.4722L28.954 24.1092C29.3966 23.6666 29.3966 22.9508 28.954 22.5082C28.5208 22.0561 27.805 22.0561 27.3624 22.4988Z" fill="#7C7E83"/>
</svg>' %}
{% assign icon_headphones = '<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M37.053 16.7311V15.0395C37.053 10.9908 35.6202 7.22857 33.0227 4.43698C30.3606 1.57143 26.7001 0 22.7068 0H21.311C17.3177 0 13.6572 1.57143 10.995 4.43698C8.39753 7.22857 6.96476 10.9908 6.96476 15.0395V16.7311C3.81266 16.9437 1.30762 19.5689 1.30762 22.7765V25.4202C1.30762 28.7571 4.02526 31.4748 7.36224 31.4748H10.7732C11.3832 31.4748 11.8824 30.9756 11.8824 30.3655V17.8218C11.8824 17.2118 11.3832 16.7126 10.7732 16.7126H9.18325V15.0395C9.18325 7.72773 14.3967 2.21849 21.3017 2.21849H22.6975C29.6118 2.21849 34.816 7.72773 34.816 15.0395V16.7126H33.2261C32.616 16.7126 32.1169 17.2118 32.1169 17.8218V30.3563C32.1169 30.9664 32.616 31.4655 33.2261 31.4655H34.7791C34.3261 37.2521 30.3421 38.5924 28.4933 38.8975C27.9849 37.3353 26.5152 36.2076 24.7866 36.2076H22.0135C19.869 36.2076 18.1219 37.9546 18.1219 40.0992C18.1219 42.2437 19.869 44 22.0135 44H24.7959C26.5891 44 28.0959 42.7798 28.5488 41.1345C29.4547 41.005 30.8875 40.6815 32.311 39.8496C34.3169 38.6756 36.6925 36.2815 37.0068 31.4563C40.1774 31.2622 42.6917 28.6277 42.6917 25.4109V22.7672C42.7009 19.5689 40.2051 16.9345 37.053 16.7311ZM9.68241 29.2471H7.38073C5.26392 29.2471 3.54459 27.5277 3.54459 25.4109V22.7672C3.54459 20.6504 5.26392 18.9311 7.38073 18.9311H9.68241V29.2471ZM24.7959 41.7815H22.0135C21.0891 41.7815 20.3404 41.0328 20.3404 40.1084C20.3404 39.184 21.0891 38.4353 22.0135 38.4353H24.7959C25.7202 38.4353 26.469 39.184 26.469 40.1084C26.469 41.0328 25.7202 41.7815 24.7959 41.7815ZM40.4824 25.4109C40.4824 27.5277 38.7631 29.2471 36.6463 29.2471H34.3446V18.9311H36.6463C38.7631 18.9311 40.4824 20.6504 40.4824 22.7672V25.4109Z" fill="#7C7E83"/>
</svg>' %}

{% if section.settings.background_toggle %}
	<div style="background-color: {{ section.settings.bg_color }}" class="bg-section">
{% endif %}

{% if section.settings.container_view %}
	<div class="{% if section.settings.container_settings == 'container' %}container{% elsif section.settings.container_settings == 'container-xl' %} container container-xxl{% endif %}">
{% endif %}

{% if section.settings.section_title.size > 0 %}
	<h2 class="section_heading text-center px-xl-5">{{ section.settings.section_title | escape }}</h2>
{% endif %}

<div class="cms-block style_{{ section.settings.style }}">
	<ul class="row justify-content-between mb-0">
		{% for block in section.blocks %}
				<li class="col-12 col-sm-6 col-xl-auto item-cms-block mt-xl-0 mt-3">
					{% if block.settings.link.size > 0 %}
					<a class="block d-flex align-items-center" href="{{ block.settings.link }}">
						{% endif %}
						
						{% if section.settings.style == 'type_1' or section.settings.style == 'type_2' %}
						{% assign icon_setting = block.settings.icon_type %}
						<div class="icon-cms-block">
							{% if icon_setting == 'icon_airplane' %}
									{{ icon_airplane }}
								{% elsif icon_setting == 'icon_creditcard' %}
									{{ icon_creditcard }}
								{% elsif icon_setting == 'icon_wallet' %}
									{{ icon_wallet }}
								{% elsif icon_setting == 'icon_clockwise' %}
									{{ icon_clockwise }}
								{% elsif icon_setting == 'icon_shopping_bag' %}
									{{ icon_shopping_bag }}
								{% elsif icon_setting == 'icon_package' %}
									{{ icon_package }}
								{% elsif icon_setting == 'icon_headphones' %}
									{{ icon_headphones }}
							{% endif %}
						</div>
						{% endif %}
						{% if block.settings.title.size > 0 or block.settings.text.size > 0 %}
							<div>
								{% if block.settings.title.size > 0 %}
									<div class="h6">{{ block.settings.title }}</div>
								{% endif %}
								{% if block.settings.text.size > 0 %}
									<p>{{ block.settings.text }}</p>
								{% endif %}
							</div>
						{% endif %}
						{% if block.settings.link.size > 0 %}
					</a>
					{% endif %}
				</li>
		{% endfor %}
	</ul>
</div>
{% if section.settings.container_view %}
</div>
{% endif %}

{% if section.settings.background_toggle %}
</div>
{% endif %}


{% schema %}
{
	"name": "Cms Block",
	"class": "section section_homepage index_cms_block",
	"max_blocks": 4,
	"settings": [
		{
			"type": "text",
			"id": "section_title",
			"label": "Heading",
			"default": "Section title"
		},
		{
			"type": "checkbox",
			"id": "background_toggle",
			"label": "Show background color",
			"default": false
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background color",
			"default": "#F6F7F9"
		},
		{
			"type": "checkbox",
			"id": "container_view",
			"label": "Use container",
			"default": false
		},
		{
			"type":      "select",
			"id":        "container_settings",
			"label":     "Container width",
			"options": [
				{
					"value": "container",
					"label": "Container"
				},
				{
					"value": "container-xl",
					"label": "Container xl"
				}
			],
			"default":   "container",
			"info":      "If use container"
		},
		{
		"type": "select",
		"id": "style",
		"label": "Type Style",
		"default": "type_1",
			"options": [
				{
					"value": "type_1",
					"label": "Type #1"
				},
				{
					"value": "type_2",
					"label": "Type #2"
				},
				{
					"value": "type_3",
					"label": "Type #3"
				}
			]
		}
	],
	"blocks": [
		{
			"type": "item",
			"name": "Simple link",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Item Title",
					"default": "Item Title"
				},
				{
					"type": "text",
					"id": "text",
					"label": "Item Text",
					"default": "Item Text"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				},
				{
					"type": "radio",
					"id": "icon_type",
					"label": "Icon type",
					"default": "icon_airplane",
					"options": [
						{
							"value": "icon_airplane",
							"label": "Airplane"
						},
						{
							"value": "icon_creditcard",
							"label": "Creditcard"
						},
						{
							"value": "icon_wallet",
							"label": "Wallet"
						},
						{
							"value": "icon_clockwise",
							"label": "Clockwise"
						},
						{
							"value": "icon_shopping_bag",
							"label": "Shopping bag"
						},
						{
							"value": "icon_package",
							"label": "Package"
						},
						{
							"value": "icon_headphones",
							"label": "Headphones"
						}
					]
				}
			]
		}
	],
	"presets": [
		{
			"name": "CMS block",
			"category": "Text",
			"blocks": [
				{
					"type": "item"
				},
				{
					"type": "item"
				},
				{
					"type": "item"
				}
			]
		}
	]
}
{% endschema %}

	

