{%- case section.settings.img_size -%}
	{%- when 'medium' -%}{%- assign img_size = '270x340' -%}
	{%- when 'large'  -%}{%- assign img_size = '370x466' -%}
{%- endcase -%}

{%- assign productsCount = section.settings.products_count | plus: 0 -%}


{% if section.settings.section_view == 'boxed' %}
<div class="container">
	{% endif %}
	
	<div class="row">
		
		{% if section.settings.section_title.size > 0 or section.settings.section_subtitle.size > 0 or section.settings.section_link.size > 0 %}
			<div class="col-md-4 col-12">
				<div class="text-md-left text-center offset-xl-7 offset-md-4 mb-md-0 mb-4">
					{% if section.settings.section_title.size > 0  %}
						<div class="text-md-left h2 mb-0">{{ section.settings.section_title }}</div>
					{% endif %}
					{% if  section.settings.section_subtitle.size > 0 %}
						<div class="section_subtitle subtext mt-md-3 mt-2">{{ section.settings.section_subtitle }}</div>
					{% endif %}
					{% if section.settings.section_link.size > 0  %}
						<a class="link link-primary mt-md-3 mt-2" href="{{ section.settings.section_link }}">{{ section.settings.section_link_text }}</a>
					{% endif %}
				</div>
				
			</div>
		{% endif %}
		
		
		<div class="col-md-7 offset-md-1 col-12">
			
			{% if productsCount <= 3 %}
				<div class="product_listing__main product_listing__grid row mt-4">
					{% for product in collections[section.settings.section_collection].products limit:productsCount %}
						<div class="product_item_wrap col-sm-3">
							{% include 'product-listing-item' img_size: img_size, img_alignment: section.settings.img_alignment %}
						</div>
					{% endfor %}
				</div>
			
			{% else %}
				<div class="products_carousel_mod swiper-container px-3 px-md-0" id="products_carousel_mod_{{ section.id }}" data-products="{{ productsCount }}">
					<div class="swiper-wrapper product_listing__main mx-0">
						{% for product in collections[section.settings.section_collection].products limit:productsCount %}
							<div class="swiper-slide">
								<div class="product_item_wrap px-0">
									{% include 'product-listing-item' img_size: img_size, img_alignment: section.settings.img_alignment %}
								</div>
							</div>
						{% endfor %}
					</div>
					<div id="pagination_{{ section.id }}" class="swiper_pagination"></div>
				</div>
			{% endif %}
		
		</div>
	</div>
	
	
	
	{% if section.settings.section_view == 'boxed' %}
	</div>
{% endif %}

{% schema %}
{
	"name": "Products left align",
	"class": "section section_homepage section_products-carousel section_products-carousel_left_align",
	"settings": [
		{
			"type": "select",
			"id": "section_view",
			"label": "Section view",
			"default": "boxed",
			"options": [
				{
					"label": "Boxed",
					"value": "boxed"
				},
				{
					"label": "Full width",
					"value": "full_width"
				}
			]
		},

		{
			"id": "section_title",
			"type": "richtext",
			"label": "Heading",
			"default": "<p>Popular products</p>"
		},
		{
			"id": "section_subtitle",
			"type": "richtext",
			"label": "Subtitle",
			"default": "<p>Subtitle</p>"
		},

		{
			"type": "url",
			"id": "section_link",
			"label": "Link",
			"info": "Optional"
		},
		
		
		{
			"type": "text",
			"id": "section_link_text",
			"label": "Link text",
			"default": "Shop now"
		},

		{
			"type": "collection",
			"id": "section_collection",
			"label": "Collection"
		},
		{
			"type": "select",
			"id": "products_count",
			"label": "Carousel products count",
			"options": [
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "7",
					"label": "7"
				},
				{
					"value": "8",
					"label": "8"
				},
				{
					"value": "9",
					"label": "9"
				},
				{
					"value": "10",
					"label": "10"
				}
			]
		},
		{
			"type": "select",
			"id": "img_size",
			"label": "Image size",
			"options": [
				{
					"value": "medium",
					"label": "Medium"
				},
				{
					"value": "large",
					"label": "Large"
				}
			]
		},
		{
			"type": "select",
			"id": "img_alignment",
			"label": "Image alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Products carousel left align",
			"category": "Products"
		}
	]
}
{% endschema %}

{% javascript %}
jQuery(document).ready(function($) {
	$('.products_carousel_mod').each(function(i) {

		var sliderId = '#' + $(this).attr('id');
		var sliderVar = $(this).attr('id');
		var sliderPagination = '#pagination_' + sliderVar.replace('products_carousel_mod_', '');

		var carouselVar = new Swiper( sliderId, {
			effect: 'slide',
			slidesPerView: 2,
			spaceBetween: 30,
			speed: 500,
			autoplayDisableOnInteraction: false,
			breakpoints: {
				576: {
					slidesPerView: 2,
				},
				768: {
					slidesPerView: 2,
				},
				992: {
					slidesPerView: 2,
				},
				1200: {
					slidesPerView: 3,
				}
			},
			pagination: {
				el: sliderPagination,
				type: 'bullets',
				clickable: true
			}
		});

	});

});
{% endjavascript %}