<div class="template_404">
	<div class="page_container d-flex align-items-center">
		<div class="container">
			<div class="row flex-column justify-content-center align-items-center">
				<div class="col-12 col-md-8">
					<div class="text-center">
						<h2 class="custom_large_title mb-3">{{ 'pages.404.title_1' | t }}</h2>
						<h4>{{ 'pages.404.title_2' | t }}</h4>
						<p class="mt-2">{{ 'pages.404.title_3' | t }}</p>
						<a class="btn btn-secondary btn-lg mt-3 mt-md-4" href="/collections">
							<span>{{ 'pages.404.return' | t }}</span>
						</a>
					</div>
				</div>
				{% comment %}
				<div class="col-12 col-md-6 col-xl-4 mt-2">
					<div class="page_search">
						<form action="/search" method="get" role="search" class="search-form d-flex align-items-stretch">
							<input class="form-control mr-1" type="search" name="q" placeholder="{{ 'pages.404.search' | t }}" aria-label="{{ 'pages.404.search' | t }}">
							<button class="btn btn-primary" type="submit">
								<span class="d-none">{{ 'pages.search.search' | t }}</span>
								<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path d="M9,0C4,0,0,4,0,9s4,9,9,9s9-4,9-9S14,0,9,0z M9,16c-3.9,0-7-3.1-7-7c0-3.9,3.1-7,7-7c3.9,0,7,3.1,7,7C16,12.9,12.9,16,9,16z" ></path>
									<path d="M14.3,14.3c0.4-0.4,1-0.4,1.4,0l4,4c0.4,0.4,0.4,1,0,1.4c-0.4,0.4-1,0.4-1.4,0l-4-4C13.9,15.3,13.9,14.7,14.3,14.3z" ></path>
								</svg>
							</button>
						</form>
					</div>
				</div>
				{% endcomment %}
			</div>

		</div>
	</div>
</div>